.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.main-search {
  width: 500px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #0077cc;
  color: white;
}

.filter-section {
  background-color: #f1f1f1;
  color: gray;
  padding: 0.5rem;
  cursor: pointer;
}

.filter-section.expanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-options {
  background-color: #f1f1f1;
  border: 1px solid gray;
  border-top: none;
  padding: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.filter-options {
  background-color: #f1f1f1;
  border: 1px solid gray;
  border-top: none;
  padding: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: right;
}

input[type="text"] {
  margin-left: 0.5rem;
}

input {
  border: none;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 40px;
  width: 400px;
  height: 30px;
  padding-left: 10px;
}

.filter-section {
  background-color: #222;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  text-align: right; /* Align filter section text to the right */
}

.filter-section.expanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-options {
  background-color: #444; /* Change filter options background color to dark gray */
  border: 1px solid gray;
  border-top: none;
  padding: 0.5rem;
  text-align: right; /* Align filter options text to the right */
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: right;
}

input {
  margin-left: 0.5rem;
}
