.nav__list {
  display: flex;
  justify-content: space-between; /* or other alignment value */
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin: 0 10px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:last-child {
  margin-right: 0;
}
